@model SWF.TaskModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.timepicker.js"></script>
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />

<script type="text/javascript">


    $(document).ready(function () {
        $("#task_TaskTime").datepicker({
            startDate: new Date(),
            endDate: '+5d',
            daysOfWeekDisabled: [0, 6]
        });

        $('.timePicker').timepicker({
            'minTime': '8:00am',
            'maxTime': '5:00pm',
        });

        $("#specific").hide();


        $("CheckTime").change(function () {
            if ($(this).is(':checked')) {

                $("#time").show();
            }
            else {

                $("#time").hide();
            }
        });


        $("#task_IsSpecificTime").click(function () {

            if ($(this).is(':checked')) {
                $("#specific").show();
            }
            else {
                $("#specific").hide();
            }
        });


    });
</script>



<div class="inner_pages_bx">
    <div class="container">

        <div class="listing_table">

            <h2 class="project-title">New Task</h2>

            @using (Html.BeginForm())
            {
                 @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


                 <div class="Error_Message">@ViewData["error"]</div>
                <div class="full-row">
                        
                    <div class="col-lg-6 no_margin">

                        <div class="full-row">
                            <h4 class="translate_head">Task Date</h4>


                            @Html.TextBoxFor(model => model.task.TaskTime, new { placeholder = "Task Date", @class = "datepicker form-control input-lg" })
                            @Html.CheckBoxFor(model => model.task.IsSpecificTime, new { @class = "from-control" }) Is Specific
                            @Html.ValidationMessageFor(model => model.task.TaskTime)

                        </div>

                        <div id="specific" class="full-row">
                            <h4 class="translate_head">Specific time</h4>

                            @Html.TextBoxFor(model => model.task.SpecificTime, htmlAttributes: new { placeholder = "Specific Time", @class = "timePicker form-control input-lg" })
                       
                            @Html.ValidationMessageFor(model => model.task.SpecificTime)

                        </div>

                        

                            <div class="full-row">
                                <h4 class="translate_head">Task Name</h4>


                                @Html.TextBoxFor(model => model.task.TaskName, htmlAttributes: new { placeholder = "Task Name", @class = "form-control input-lg" })
                                @Html.ValidationMessageFor(model => model.task.TaskName)
                            </div>











                        </div>

                    <div class="col-lg-6 no_margin">
                    <div class="full-row">

                            <h4 class="translate_head">Special Request</h4>
                        
        @Html.TextBoxFor(model => model.task.SpecialRequest, htmlAttributes: new { placeholder = "Special Request", @class = "form-control input-lg" })
        @Html.ValidationMessageFor(model => model.task.SpecialRequest)

                        </div>

                       

               
                       
                    <div class="full-row">
                            

                        </div>
                    @*<div class="full-row">
                    </div>*@
                        </div>
                    <div class="full-row top_mrgn">
                        <input type="submit" value="Save Tasks" style="margin:20px;" name="Update" class="btn btn-primary btn-create" />
                        <a class="btn btn-primary btn-create" style="margin:20px;" href="@Url.Action("Index", "Dashboard")">Cancel</a>
                    </div>


                </div>
            }

        </div>


        <div class="listing_table">
            <h2 class="project-title">List of the last 5 recent tasks completed</h2>
           @Html.Partial("_RecentTask", Model.taskList)
        </div>
</div>
    </div>



